* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: Helvetica, sans-serif;
}

h2 {
	font-size: 40px;
	margin-bottom: 1rem;
}

h3 {
	font-size: 24px;
	margin-bottom: .5rem;
}

h4 {
	font-size: 20px;
	margin-bottom: .5rem;
}

.body-container {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}

.container {
	display: block;
	border: 1px solid black;
	padding: 2rem;
	text-align: center;
	border-radius: .5rem;
}

.slider {
	margin-bottom: 1rem;
}

.result {
	font-size: 20px;
	background-color: aqua;
	width: 55%;
	margin: 0 auto;
	border-radius: 1rem;
	padding: .5rem;
}

.groundCoffeeAmount {
	display: inline-block;
	background-color: brown;
	color: white;
	border-radius: 2rem;
	padding: .75rem;
	margin-bottom: 1rem;
}

.waterAmount {
	display: inline-block;
	background-color: blue;
	color: white;
	border-radius: 2rem;
	padding: .75rem;
	margin-bottom: 1rem;
}