* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  max-width: 50vw;
  background-color: hsla(0, 0%, 0%, 0.3);
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

img {
  max-width: 6.25rem;
}

a {
  font-size: 0.75rem;
}

.body-container {
  margin-top: 1rem;
}

.container {
  display: block;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
}

.slider {
  margin-bottom: 1rem;
}

.result {
  font-size: 20px;
  background-color: aqua;
  width: 55%;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 0.5rem;
}

.groundCoffeeAmount {
  display: inline-block;
  background-color: #6f4e37;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: white;
  border-radius: 2rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

.waterAmount {
  display: inline-block;
  background-color: blue;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: white;
  border-radius: 2rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
}
