---
import MainLayout from '../layouts/MainLayout.astro';
const allBrands = await Astro.glob('../pages/content/brands/*.md');
---

<MainLayout title="Brands">
  <div class="container">
    <div class="columns py-4">
      {
        allBrands.map((post) => (
          <div class="column is-one-quarter">
            <div class="card">
              <div class="card-image py-4">
                <figure class="image is-128x128 mx-auto">
                  <img src={post.frontmatter.logo} alt="logo" />
                </figure>
              </div>
              <header>
                <p class="card-header-title is-centered">
                  {post.frontmatter.name}
                </p>
              </header>
              <div class="card-content has-text-centered">
                <a
                  href={post.frontmatter.website}
                  class="button is-info"
                  target="_blank"
                >
                  Website
                </a>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</MainLayout>
