---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Tom's Coffee Site">
  <main class="container has-text-centered">
    <h1 class="is-size-1">Tom's Coffee Site</h1>
    <p class="is-size-5">
      Hello!&nbsp; My name is Tom and this is my coffee site.
    </p>
    <br />
    <p>
      I'm not an expert or a barista, but I will go out of my way for a good cup
      of coffee.
    </p>
    <br />
  </main>
</MainLayout>
