---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Tom's Coffee Site">
	<main>
		<div class="container mt-2">
		  <div class="row">
			<div class="col-sm col-md col-lg-6">
			  <div class="bg-body-secondary rounded-1 p-3 mb-3">
				<h1 class="text-center">Tom's Coffee Site</h1>
				<p class="lead">
				  Hello! My name is Tom and this is my coffee site.
				</p>
				<p class="lead">
				  I'm not an expert or a barista, but I will go out of my way for
				  a good cup of coffee.
				</p>
			  </div>
			</div>
			<div class="col-sm col-md col-lg-6">
			  <div class="bg-body-secondary rounded-1 p-3 mb-3">
				<h2 class="text-center">Site Guide</h2>
				<h3>Recipes</h3>
				<p>
				  Look up coffee-to-water ratios for automatic drip machines,
				  french press, aeropress and more.
				</p>
				<h3>Brands</h3>
				<p>My preferred coffee brands and where to buy them.</p>
				<h3>Equipment</h3>
				<p>Equipment that I have used and would recommend.</p>
				<h3>Resources</h3>
				<p>
				  Websites, YouTube channels and other online coffee stuff that I
				  find useful.
				</p>
				<h3>Shops</h3>
				<p>Coffee shops I like.</p>
				<h3>Blog</h3>
				<p>Where I post about updates to the site.</p>
			  </div>
			</div>
		  </div>
		</div>
	  </main>
</MainLayout>
