---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Tom's Coffee Site">
  <main class="container has-text-centered">
    <h1 class="is-size-1">Tom's Coffee Site</h1>
    <p class="is-size-5">
      I'm not a barista, but I will go out of my way for a good cup of coffee.
    </p>
    <div class="block"></div>
    <figure class="image is-16by9">
      <img src="/beans.jpeg" />
    </figure>
  </main>
  <div class="block"></div>
</MainLayout>
