
<body class="p-2">
    <div class="container bg-dark-subtle rounded p-2 mb-2 mt-2">
      <h1 class="text-center">Drip Coffee Recipe</h1>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-3 col-sm col text-center">
          <label for="brewedCoffee" class="form-label"
            >Cups of Brewed Coffee</label
          >
          <input
            type="number"
            id="brewedCoffee"
            class="form-control"
            min="1"
            max="12"
          />
        </div>
      </div>
      <div class="row mt-3 justify-content-center">
        <div class="col-lg-3 col-md-3 col-sm col">
          <p
            class="bg-primary rounded p-2 text-center text-light"
            id="waterAmt"
          >
            0 ounces of water
          </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm col">
          <p class="bg-warning rounded p-2 text-center" id="coffeeAmt">
            0 tablespoons of ground coffee
          </p>
        </div>
      </div>
    </div>

<script>
const brewedCoffee = document.querySelector('#brewedCoffee');
	const waterAmt = document.querySelector('#waterAmt');
	const coffeeAmt = document.querySelector('#coffeeAmt');
	
	document.addEventListener('input', inputHandler);
	
	function inputHandler() {
	  switch (true) {
		case brewedCoffee.value % 4 === 0:
		  const coffeeToCups = calcGroundCoffee() / 4;
		  const water0 = calcWater();
		  coffeeAmt.innerText = `${coffeeToCups} cups of ground coffee`;
		  waterAmt.innerText = `${water0} ounces of water`;
		  break;
		default:
		  const coffee = calcGroundCoffee();
		  const water = calcWater();
		  coffeeAmt.innerText = `${coffee} tablespoons of ground coffee`;
		  waterAmt.innerText = `${water} ounces of water`;
	  }
	}
	
	function calcGroundCoffee() {
	  const alpha = brewedCoffee.value * 2;
	  return alpha;
	}
	
	function calcWater() {
	  const beta = brewedCoffee.value * 6;
	  return beta;
	}
	</script>
	</body>