<body>
  <div class="container">
    <h1 class="has-text-centered is-size-2">Drip Coffee Recipe</h1>
    <div class="columns is-centered">
      <div class="column is-4">
        <div class="field pt-3">
          <label for="brewedCoffee" class="label is-size-5"
            >Cups of Brewed Coffee</label
          >
          <input
            type="number"
            id="brewedCoffee"
            class="input is-medium"
            min="1"
            max="12"
          />
        </div>
        <p class="py-2 is-size-5 has-text-centered" id="waterAmt">
          0 fluid ounces of water
        </p>
        <p class="py-2 mb-4 is-size-5 has-text-centered" id="coffeeAmt">
          0 tablespoons of ground coffee
        </p>
      </div>
    </div>
  </div>

  <script>
    const brewedCoffee = document.querySelector(
      '#brewedCoffee'
    ) as HTMLInputElement;
    const waterAmt = document.querySelector('#waterAmt') as HTMLInputElement;
    const coffeeAmt = document.querySelector('#coffeeAmt') as HTMLInputElement;

    document.addEventListener('input', inputHandler);

    function inputHandler() {
      switch (true) {
        case +brewedCoffee.value % 4 === 0:
          const coffeeToCups = calcGroundCoffee() / 4;
          const water0 = calcWater();
          coffeeAmt.innerText = coffeeToCups + ' cups of ground coffee';
          waterAmt.innerText = water0 + ' fluid ounces of water';
          break;
        default:
          const coffee = calcGroundCoffee();
          const water = calcWater();
          coffeeAmt.innerText = coffee + ' tablespoons of ground coffee';
          waterAmt.innerText = water + ' fluid ounces of water';
      }
    }

    function calcGroundCoffee() {
      const alpha = +brewedCoffee.value * 2;
      return alpha;
    }

    function calcWater() {
      const beta = +brewedCoffee.value * 6;
      return beta;
    }
  </script>
</body>
