<footer class="footer bg-secondary">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <ul class="list-inline">
            <li>
              <a href="https://astro.build/" target="_blank" class="link-light">Made with Astro</a>
            </li>
            <li>
              <a
                href="https://slandath.github.io"
                target="_blank"
                class="link-light"
                >My Website</a
              >
            </li>
            <li><a href="https://www.flaticon.com/free-icons/mug" title="mug icons" class="link-light">Mug icons created by Freepik - Flaticon</a></li>
          </ul>
        </div>
        </div>
      </div>
    </div>
  </footer>