<footer class="footer has-background-info">
  <div class="content has-text-centered">
    <p>
      <a href="https://astro.build/" target="_blank" class="has-text-light">
        Made with Astro.&nbsp;&nbsp;
        <a
          href="https://slandath.github.io"
          target="_blank"
          class="has-text-light"
        >
          My Website.&nbsp;&nbsp;
        </a>
        <a
          href="https://www.flaticon.com/free-icons/mug"
          title="mug icons"
          class="has-text-light"
        >
          Mug icons created by Freepik - Flaticon.&nbsp;&nbsp;
        </a>
        <p class="has-text-light">Copyright &copy; 2024 Tom Slanda</p>
      </a>
    </p>
  </div>
</footer>
