<footer class="footer bg-secondary mt-auto py-3">
    <div class="container">
      <div class="row text-center">
        <div class="col">
          <ul class="list-inline">
            <li>
              <a href="https://astro.build/" target="_blank" class="link-light">
                <p>Made with Astro</p>
              </a>
            </li>
            <li>
              <a
                href="https://slandath.github.io"
                target="_blank"
                class="link-light"
                >
                <p>My Website</p>
                </a>
            </li>
            <li>
              <a href="https://www.flaticon.com/free-icons/mug" title="mug icons" class="link-light">
                <p>Mug icons created by Freepik - Flaticon</p>
              </a>
            </li>
            <li>
              <p class="text-light">Copyright &copy; 2024 Tom Slanda</p>
            </li>
          </ul>
        </div>
        </div>
      </div>
    </div>
  </footer>