<body>
  <div class="container">
    <h1 class="has-text-centered is-size-2">French Press Coffee Recipe</h1>
    <div class="columns is-centered">
      <div class="column is-4">
        <div class="field pt-3">
          <label for="brewedCoffee" class="label is-size-5 has-text-centered"
            >Cups of Coffee</label
          >
          <input
            type="number"
            id="brewedCoffeeA"
            class="input is-medium"
            min="1"
            max="8"
          />
        </div>
        <p class="py-2 is-size-5 has-text-centered" id="waterAmtA">
          0 fluid ounces of water
        </p>
        <p class="py-2 mb-4 is-size-5 has-text-centered" id="coffeeAmtA">
          0 tablespoons of course ground coffee
        </p>
      </div>
    </div>
  </div>
  <script>
    const brewedCoffee = document.querySelector(
      '#brewedCoffee'
    ) as HTMLInputElement;
    const waterAmt = document.querySelector('#waterAmt') as HTMLInputElement;
    const coffeeAmt = document.querySelector('#coffeeAmt') as HTMLInputElement;

    document.addEventListener('input', inputHandler);

    function inputHandler() {
      const results = makeCoffee(+brewedCoffee.value);
      if (results.water % 8 === 0) {
        waterAmt.innerText = `${results.water} fluid ounces of water
          (${results.water / 8} cups)`;
      } else {
        waterAmt.innerText = results.water + ' fluid ounces of water';
      }
      if (results.groundCoffee % 16 === 0) {
        coffeeAmt.innerText = `${
          results.groundCoffee
        } tablespoons of ground coffee (${results.groundCoffee / 16} cup)`;
      } else
        coffeeAmt.innerText =
          results.groundCoffee + ' tablespoons of ground coffee';
    }

    function makeCoffee(num: number) {
      const water = num * 6;
      const groundCoffee = num * 2;
      return { water, groundCoffee };
    }
  </script>
</body>
