<body class="p-2">
    <div class="container bg-dark-subtle rounded p-2">
      <h1 class="text-center">French Press Coffee Recipe</h1>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-3 col-sm col text-center">
          <label for="brewedCoffee" class="form-label"
            >Cups of Brewed Coffee</label
          >
          <input
            type="number"
            id="brewedCoffeeA"
            class="form-control"
            min="1"
            max="8"
          />
        </div>
      </div>
      <div class="row mt-3 justify-content-center">
        <div class="col-lg-3 col-md-3 col-sm col">
          <p
            class="bg-primary rounded p-2 text-center text-light"
            id="waterAmtA"
          >
            0 fluid ounces of water
          </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm col">
          <p class="bg-warning rounded p-2 text-center" id="coffeeAmtA">
            0 tablespoons of ground coffee
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6ZZZZZZZZ col-sm-4 col-4">
          <h2 class="text-center">Instructions</h2>
          <ol>
            <li>Grind coffee on course setting.</li>
            <li>Add heated water (between 190 - 200 degrees fahrenheit).</li>
            <li>Stir.</li>
            <li>
              Pull the plunger to the top of lid and place the lid on top of
              pitcher. If the lid contains additional filter grates, be sure to
              rotate the lid to line up the grates and the pour spout.
            </li>
            <li>Let steep for 4 minutes.</li>
            <li>
              Depress plunger to push coffee grounds to the bottom of the
              pitcher.
            </li>
            <li>Pour and enjoy!</li>
          </ol>
        </div>
      </div>
    </div>
    <script>
const brewedCoffeeA = document.querySelector('#brewedCoffeeA');
const waterAmtA = document.querySelector('#waterAmtA');
const coffeeAmtA = document.querySelector('#coffeeAmtA');

document.addEventListener('input', inputHandler);

function inputHandler() {
  switch (true) {
    case brewedCoffee.value % 4 === 0:
      const coffeeToCups = calcGroundCoffee() / 4;
      const water0 = calcWater();
      coffeeAmt.innerText = `${coffeeToCups} cups of ground coffee`;
      waterAmt.innerText = `${water0} ounces of water`;
      break;
    default:
      const coffee = calcGroundCoffee();
      const water = calcWater();
      coffeeAmt.innerText = `${coffee} tablespoons of ground coffee`;
      waterAmt.innerText = `${water} ounces of water`;
  }
}

function calcGroundCoffee() {
  const alpha = brewedCoffee.value * 2;
  return alpha;
}

function calcWater() {
  const beta = brewedCoffee.value * 6;
  return beta;
}
    </script>
  </body>
