<div class="row">
        <div class="col-sm-3">
            <div class="card text-center mt-2 mb-2">
                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <p class="card-text">Location</p>
                    <a href='' class="btn btn-secondary">Details</a>
                </div>
            </div>
        </div>
</div>