---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="icon"
      href="https://raw.githubusercontent.com/slandath/images/main/coffee/big-cup.png"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>{title}</title>
  </head>
  <body class="has-background-light">
    <Navbar />
    <slot />
    <Footer />
    <script>
      const hamburger = document.querySelector('#hamburger');
      const navbarMenu = document.querySelector('#navbarMenu');
      hamburger.addEventListener('click', () => {
        navbarMenu.classList.toggle('is-active');
      });
    </script>
  </body>
</html>
